header {
    background-color: #3498db;
    padding: .8rem 1rem;
    color: white;
    display: flex;
    border-radius: 2px 2px 0 0;
    justify-content: space-between;
    align-items: center;

    .header-title {
        user-select: none;
        font-size: 1rem;
        font-weight: 600;
    }

    .header-operation {
        button {
            margin-right: .3rem;
            border: none;
            outline: none;
            cursor: pointer;
            background-color: transparent;
            span {
                color: #fff;
            }
            &:hover {
                span {
                    color: #f0f0f0;
                    filter: blur(1px);
                }
            }
        }
    }
}