header {
    background-color: var(--sidebar);
    padding: .8rem 1rem;
    color: var(--sidebar-foreground);
    display: flex;
    border-radius: 2px 2px 0 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--sidebar-border);
    backdrop-filter: saturate(180%) blur(8px);

    .header-title {
        user-select: none;
        font-size: 1rem;
        font-weight: 600;
    }

    .header-operation {
        display: flex;
        align-items: center;
        button {
            margin-right: .3rem;
            border: none;
            outline: none;
            cursor: pointer;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: opacity .15s ease;
            svg {
                color: currentColor;
                transition: opacity .15s ease;
            }
            &:hover {
                opacity: .85;
            }
        }
    }
}